.benefits {
    min-height: 270px;
    background: #F6F6F6;
    padding: 70px 0 82px 0;
    &__items {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        width: 230px;
        text-align: center;
    }
    &__subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
    &__descr {
        margin-top: 20px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        span {
            font-weight: 300;
            font-size: 14px;
            text-decoration-line: underline;
            color: #FF0000;
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}