.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 320px;
        height: 165px;
        background: $main-color;
        padding: 50px 68px 60px 68px;
    }
    &__addr {
        margin-bottom: 36px;
        font-size: 20px;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        font-style: normal;
        color: #FFFFFF;
    }
    &__phone {
        margin-bottom: 36px;
        display: block;
        line-height: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__social {
        display: flex;
        justify-content: space-between;
        width: 210px;
        margin: 0 auto;
    }
    &__social-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 53px;
        height: 52px;
        img {
            &:hover {
                border-radius: 100%;
                box-shadow: 5px 5px 20px red;
            }
        }
    }
}
