@media(max-width: 1200px) {
    .container {
        max-width: 850px;
    }
}

@media(max-width: 992px) {
    .benefits .title {
        font-size: 25px;
    }
    .consultation .title {
        &_left {
            font-size: 27px;   
        }
    }
    .container {
        max-width: 650px;
    }
    .benefits {
        &__descr {
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            span {
                font-weight: 300;
                font-size: 12px;
                text-decoration-line: underline;
                color: #FF0000;
            }
        }
        &__subtitle {
            font-size: 16px;
        }
    }
    .footer {
        height: 630px;
        &__info {
            width: 215px;
            height: 145px;
        }        
        &__addr {
            margin-bottom: 26px;
            font-size: 18px;
            line-height: 20px;
        }
        &__phone {
            margin-bottom: 26px;
            font-size: 18px;
            line-height: 18px;
        }
        &__social {
            width: 210px;
        }
        &__social-item {
            width: 53px;
            height: 52px    
        }    
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 450px;    
    }
    .header {
        &__official {
            display: none;
        }
        &__logo {
            margin-left: 10px;
        }
    }

    .promo {
        padding-bottom: 43px;
        &__header {
            font-size: 30px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
    .benefits {
        padding: 30px 0 42px 0; 
        &__items {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
        }
        &__item {
            width: 100%;
        }
        &__icon {
            margin-bottom: 10px;
            margin-top: 20px;
            width: 55px;
            height: 55px;
        }
        &__subtitle {
            margin-top: 5px;
        }
        &__descr {
            font-size: 15px;
        }
    }
    .consultation {
        padding: 50px 0 30px 0;
        min-height: 500px;
        &__descr {
            font-size: 17px;
            line-height: 20px;
            text-align: center; 
            margin-bottom: 50px;   
        }
    }
    .consultation .title {
        &_left {
            font-size: 20px;
            text-align: center;
        }    
    }
    .feed-form {
        margin: 0px auto;
    }
    
    .catalog {
        padding-bottom: 50px;
        &__tab {
            font-size: 14px;
        }
        &-item {
            li {
                line-height: 19px;
            }
            width: 100%;
        }
    }
    .catalog-item {
        width: 174px;
    }
    .review {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__text {
            margin-left: 0;
            padding-right: 0;
            margin-top: 20px;
        }
        &__client {
            text-align: center;
        }
        &__achieve {
            text-align: center;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .footer {
        height: 630px;
        &__info {
            padding: 10px;
            width: 200px;
            height: 150px;
          
        }
        &__addr {
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 20px;
        }
        &__phone {
            margin-bottom: 16px;
            font-size: 14px;
            line-height: 18px;
        }
        &__social {
            margin-right: 30px;
            width: 130px;
        }
        &__social-item {

            img {
                width: 33px;
                height: 33px;
            }   
        }    
    }
}

@media(max-width: 575px) {
    .container {
        max-width: 100%;
    }
    .header {
        &__official {
            display: none;            
        }
        &__phone {
            font-size: 12px;
            margin-right: 10px;
        }    
    }
    .button {
        width: 110px;
        font-size: 10px;
        margin-left: 15px;
        margin-right: 10px;
        &_main {
            font-size: 12px;
            width: 180px;
            margin-left: 0;
        }      
    }
    .promo {
        padding-bottom: 63px;
        &__wrapper {
            justify-content: center;
            align-items: center;
        }
        &__wrapper {
            margin-top: 60px;
        }
        &__header {
            font-size: 20px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;
            height: 350px;
            max-width: 100%;
        }
        &__icon {
            img {
                margin-bottom: 10px;
            }
        }    
    }    
    .benefits {
        padding: 31px 0 31px 0;
        &__items {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
        }
        &__icon {
            margin: 10px 0 10px 0;
            width: 50px;
            height: 50px;
        }
    }
    .pageup {
        display: block;
        right: 0;
        left: 140px;
    }
    
    .benefits .title {
        font-size: 20px;
    }
    .title {
        font-size: 20px;
    }
    .consultation .title {
        &_left {
            font-size: 15px;
        }    
    }
    .consultation {
        &__descr {
            font-size: 13px;
        }
    }
    .feed-form {
        width: 250px;
    }
    .button {
        &_submit {
            width: 100%;
            margin: 0 auto;
        }
    }
    .carousel {
        &__inner {
            width: 100%;
        }
        img {
            width: 100%;
        }
    }
    .catalog {
        padding-bottom: 30px;
        &__tab {
            font-size: 9px;
        }
        &__tabs {
            margin-left: 5px;
            margin-right: 5px;
        }
        &-item {
            width: 240px;
            margin: 0 auto 20px;
            li {
                line-height: 19px;
            }

        }
    }
      .review {
        &__item {
            flex-direction: column;
        }
        &__descr {
            padding: 0 20px 0 20px;
        }
    }
    .footer {
        &__info {
            width: 120px;
            height: 130px;
        }
        &__phone {
            margin-bottom: 0;
        }
        &__addr {
            margin-bottom: 12px;
        }
    }
}